:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-text-color:  #FFFFFF;
}
body {
    background-color:var(--white-text-color);
    color: var(--primary-text-color);
    font-family: Roboto;
}
/* logo сайта */
.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logostudio {
    color: var(--primary-text-color);    
}
.logostudiofooter {
   color: var(--white-text-color);
}
/* navlist */
.navlist-studio,.navlist-portfolio,.navlist-contacts {
 color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navlist-studio:hover,.navlist-portfolio:hover,.navlist-contacts:hover {
    color: var(--accent-color);
}
/*   ========================активна  синя кнопка======================= */
.navlist-studiolist, .headerlist-mailtolist, .navlist-portfoliolist {
    color: var(--accent-color);
}
/* header list mailo i tel */
.headerlist-mailto,.headerlist-tel {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.headerlist-mailto:hover, .headerlist-tel:hover {
  color: var(--accent-color);  
}
.headerlist-mailto:focus, .headerlist-tel:focus {
    color: var(--accent-color);
}
/* головний заголовок */
.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* button */
.button {
    color: var(--white-text-color);
     background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* section звголовків */
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-text {
   color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.section-company, .section-comand {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-comand-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-comand-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer list */
.footerlist-address {
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footerlist-mailto,
.footerlist-tel {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footerlist-mailto:hover,
.footerlist-tel:hover {
    color: var(--title-text-color);
}
.footerlist-mailto:focus,
.footerlist-tel:focus {
    color: var(--accent-color);
}
a{text-decoration: none};

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ===============================Портфолио============================== */

.portfolio-buttonlist {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Эффективные решения для вашего бизнеса адрес  и кнока */
#FFFFFF

/* Внимание к деталям и список с 4 заголовок h2 h3  имя команды * /#212121;

/* Портфолио контакты */
  #212121;


/* info@devstudio.com */
/* WebStudio */
/*студия*/
#2196F3
/* +38 096 111 11 11 */
/* Идейные соображения, а также начало повседневной работы по формированию позиции. */
/* Marketing */
color: #757575;

/* info@example.com */
/* +38 099 111 11 11 */
color: rgba(255, 255, 255, 0.6);


/* кнопка accent  */ #2196F3

/* вторичний колір фона  background: #F5F4FA; */
